*/__pycache__/
*.code-workspace
*.DS_Store
*.spyproject
*.ipynb_checkpoints
*Icon?

*.pth
*.pyc
*.mp4
*.vtt
*.zip
*.npy
*.embedding
*.model
*.gz
*.h5
*.pkl
*.vscode
*.db
*.html
*.csv

*project_venv
*venv
*runs
*data